  .Registros-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Registros-table {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
  }

  .Registros-table td,
  .Registros-table th {
    border: 1px solid #949494;
    text-align: left;
    padding: 8px;
  }

  .Registros-table tr:nth-child(even) {
    background-color: #dddddd;
  }

  .Registros-table th:first-child,
  .Registros-table td:first-child {
    width: 10%;
    min-width: 80px;
  }

  .Registros-table th,
  .Registros-table td {
    word-wrap: break-word;
  }