  .Registros-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Registros-container h1 {
    margin: 0 0 30px 0;
  }

  .Registros-table-container {
    max-height: 90%;
    width: 110%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;
  }

  .Registros-table {
    width: 99%;
    border-collapse: collapse;
  }

  .Registros-table td,
  .Registros-table th {
    border: 1px solid #949494;
    text-align: left;
    padding: 8px;
  }

  .Registros-table tr:nth-child(even) {
    background-color: #dddddd;
  }

  .Registros-table th:first-child,
  .Registros-table td:first-child {
    width: 10%;
    min-width: 80px;
  }

  .Registros-table th,
  .Registros-table td {
    word-wrap: break-word;
  }