.tarifas_titulo{
    text-align: center;
}

.superusuario{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:  7vw 7vh 7vw 7vh;
    background-color: #a5a5a5;
    margin-top: 2vh;
}
.tarifa_select{
    border-radius: 70vw;
    background-color: #d4d4d4;
    border: none;
    margin-top: 2vh;
}
.tarifa_option{
    border-radius: 70vw;
    border: none;
}
.tarifas_input{
    border-radius: 70vw;
    background-color: #d4d4d4;
    border: none;
    margin-top: 2vh;
}
.tarifas_button_ok{
    position: relative;
    width: 15vw;
    border-radius: 70vw;
    background-color: #d4d4d4;
    border: none;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tarifas_button_cancel{
    border-radius: 70vw;
    background-color: #d4d4d4;
    border: none;
    margin-top: 3vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarifas_button_ok span{
    margin: 1vw;
}

.tarifas_th, .tarifas_td{
    border-bottom: solid 1px black;
    justify-content: space-around;
    justify-items: auto;
}
.tarifas_button_edit{
    margin-left: 1vw;
 margin-right: 2vw;
}

  .tarifas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 40%;
  }
  
  .tarifas_table {
    height: 50%;
    width: 100%;
    overflow-y: auto;
    border-collapse: collapse;
  }

  .tarifas_table td,
  .tarifas_table th {
    border: 1px solid #949494;
    text-align: left;
    padding: 8px;
  }

  .tarifas_table tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tarifas_table th:first-child,
  .tarifas_table td:first-child {
    width: 10%;
    min-width: 80px;
  }

  .tarifas_table th,
  .tarifas_table td {
    word-wrap: break-word;
  }
